<link rel="stylesheet" href="/styles/proveedores.css">
<script src="/script/producto.js"></script>

<main>
<% const edit = renderType == 'edit';
if (edit) { %>
    <h1>Editar Proveedor</h1>
<% } else { %>
        <h1>Crear Proveedor</h1>
<% } %>

<form action="/proveedores/<%= edit? 'editar/' + proveedor.nombre : 'crear' %>" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" value="<%= edit ? proveedor.nombre : '' %>" required> <br>
    
    <input type="submit" class="green-button" value="<%= edit ? 'Editar' : 'Crear' %>">
</form>
</main>