<link rel="stylesheet" href="styles/home.css">'
<script src="script/home.js"></script>

<main>
    <div id="products">
        <input type="text" id="search" placeholder="&#xF002; Bucar o codigo de producto">
        
        <% productos.forEach(producto => {
            const imagenNombre = producto.nombre.toLowerCase().replace(/\s+/g, '-');
        %>
        <div class="product">
            <img src="images/products-example/<%= imagenNombre %>.webp" onerror="this.onerror=null; this.src='/images/products/default.webp';" alt="">
            <h4><%= producto.nombre %></h4>
            <p>$<%= producto.precio_venta %></p>
        </div>
        <% }) %>
    </div>

    <div id="ticket">
        <h2>Ticket de Venta <a href="#">#1</a></h2>
        
        <table id="cart">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Cantidad</td>
                    <td>Precio</td>
                    <td>Total</td>
                    <td>Eliminar</td>
                </tr>
                <tr id="empty-message">
                    <td colspan="5">No hay productos en venta</td>
                </tr>
            </thead>
            <tbody>
                <!-- Here add the products in cart for sell -->
            </tbody>
        </table>

        <button class="blue-button" id="total"><i class="fa-solid fa-cash-register"></i> Vender - $0.00</button>
    </div>
</main>

<div id="cobrar-ventana" class="popup">
    <div class="popup-box"></div>
    <dialog class="popup-content">
        <button id="close" class="close-btn"><i class="fa-solid fa-xmark"></i></button>
        <h1><strong>Total: $0.00</strong></h1>
        
        <i class="fa-solid fa-money-bill"></i>
        <i class="fa-solid fa-credit-card"></i>
        <i class="fa-solid fa-money-bill-transfer"></i>

        <br><input type="number" placeholder="Pago">
        <h3>Cambio: $<span id="cambio">0.00</span></h3>

        <button id="cobrar">Cobrar Venta</button>
    </dialog>
</div>