@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, FontAwesome;
}

::selection {
    color: white;
    background-color: #367AF0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background-color: #F6F6F6;
    background-color: #E4E9F7;*/
    transition: all 0.5s ease;
}

main {
    position: absolute;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    background-color: #E4E9F7;
    transition: all 0.5s ease;
}

main .text{
    font-size: 30px;
    font-weight: 500;
    color: #707070;
    padding: 12px 60px;
}

/******************** Side navbar ********************/
 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: white;
    transition: all 0.5s ease;
    z-index: 100;  
}
.sidebar.close {
    width: 88px;
}
.sidebar.close ~ main {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text, .sidebar .icon {
    color: #707070;
    transition: all 0.3s ease;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text {
    opacity: 0;
}

/***** Header (logo, text and toggle open/close button) *****/
.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}
.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}
header .image-text .text-1 {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .text-2 {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #367AF0;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

/***** Menubar *****/
.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar li a:hover {
    text-decoration: none;
    background-color: #367AF0;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: white;
}

/******************** PRODUCTS ********************/
#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    background-color: white;
    border: 1px solid #CCC;
    padding: 10px;
}

#search {
    width: 100%;
    grid-column: 1 / -1;
}

.product img {
    height: 80px;
}
.product {
    height: 200px;
    width: 150px;
    border: 1px solid rgb(0 0 0 / 0.8);
    text-align: center;
    cursor: pointer;
}
.product h4 {
    font-size: 20px;
}
.product p {
    font-size: 10px;
}

/******************** TICKET ********************/
#ticket {
    padding-left: 20px;
}

#ticket h2 {
    margin: 0;
}

.ticket table {
    padding: 8px;
}

.ticket table {
    border-collapse: collapse;
}

/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Esto asegura que las celdas compartan los bordes */
}

tr {
    border-bottom: 2px solid #ddd;
}
tr:nth-child(even){ background-color: #F2F2F2; }
tr:hover { background-color: #DDD; }

tr .product-sell-quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.product-sell-quantity-controls .rounded-button {
    height: 20px;
    width: 20px;
    margin-top: 0;
    line-height: 20px;
    font-size: 15px;
}

tr .product-sell-remove {
    all: unset;
    cursor: pointer;
}

table #empty-message { border-bottom: 0; }

td {
    padding: 8px;
    text-align: center;
}

#ticket #total {
    width: 100%;
    visibility: hidden;
}

/******************** Cobrar ventana dialog popup ********************/
.popup-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s ease;
}

.popup-container .popup-box {
    text-align: center;
    width: 500px;
    background: #f2f2f2;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    transform: scale(0);
}
.popup-container .popup-box div {
    padding: 30px;
}
.popup-container.active .popup-box {
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: 0.25s;
}

.popup-box #close {
    all: initial;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 15px; 
    font-size: 30px;
    font-weight: 500;
}

.popup-box h1 {
    color: #333;
    line-height: 1;
}
.popup-box p {
    color: #333;
    margin: 12px 0 20px;
}

.popup-container #cobrar {
    width: 100%;
}