body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6; 
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
}

/******************** PRODUCTS ********************/
#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    background-color: white;
    border: 1px solid #CCC;
    padding: 10px;
}

.product img {
    height: 100px;
}
.product {
    width: 200px;
    border: 1px solid rgb(0 0 0 / 0.8);
    text-align: center;
    cursor: pointer;
}

/******************** TICKET ********************/
#ticket {
    padding-left: 20px;
}

#ticket h2 {
    margin: 0;
}

.ticket table {
    padding: 8px;
}

.ticket table {
    border-collapse: collapse;
}

/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Esto asegura que las celdas compartan los bordes */
}

tr {
    border-bottom: 2px solid #ddd;
}
tr:nth-child(even){ background-color: #F2F2F2; }
tr:hover { background-color: #DDD; }

tr .product-sell-quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.product-sell-quantity-controls .rounded-button {
    height: 20px;
    width: 20px;
    margin-top: 0;
    line-height: 20px;
    font-size: 15px;
}

tr .product-sell-remove {
    all: unset;
    cursor: pointer;
}

table #empty-message { border-bottom: 0; }

td {
    padding: 8px;
    text-align: center;
}

#ticket #total {
    width: 100%;
    visibility: hidden;
}

/******************** Cobrar ventana dialog popup ********************/
.popup-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s ease;
}

.popup-container .popup-box {
    text-align: center;
    width: 500px;
    background: #f2f2f2;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    transform: scale(0);
}
.popup-container .popup-box div {
    padding: 30px;
}
.popup-container.active .popup-box {
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: 0.25s;
}

.popup-box #close {
    all: initial;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 15px; 
    font-size: 30px;
    font-weight: 500;
}

.popup-box h1 {
    color: #333;
    line-height: 1;
}
.popup-box p {
    color: #333;
    margin: 12px 0 20px;
}

.popup-container #cobrar {
    width: 100%;
}